
.main-container {
  background-image: url("./images/DotaBackground.jpeg");
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
} 

body {
  color: lightgrey;
}

h1 {
text-align: center;
font-size: 350%;}

select {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
  height:40px;
  border-radius:36px;;
}

.box {
  color: lightgrey;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  width: 50%;
  border-width: 5px;
}

.box > h2 {
  font-size: 190%;
}

.box > p {
  font-size: 140%;
}

.all-comments {
  margin-left: 40px;
  font-size: 110%;
  margin-bottom: 10px;
}


